.fz-12 {
    font-size: 20px;
}
.fz-14 {
    font-size: 24px;
}
.fz-16 {
    font-size: 16px;
}
.fz-18 {
    font-size: 20px;
}
.fz-20 {
    font-size: 20px;
}
.fz-24 {
    font-size: 24px;
}
.fz-30 {
    font-size: 16px;
}
.text-color-primary {
    color: $primary;
}
.text-color-danger {
    color: $danger;
}
.text-color-success {
    color: $success;
}
.text-color-warning {
    color: $warning;
}
.text-color-dark {
    color: $dark;
}